<div class="container">
    <div class="row">
        <div class="col-md-6">
              なにか、映画をみたい…。</br>
              でも、何をみたらいいか迷ってしまう。</br>
              そんなそんなとき、役立ててれば幸いです。
        </div>
    </div>
</div>
              