<div class="container ">
<h3>マイページ</h3>

<head>
　<tr>
    登録情報
    <%= link_to "編集する", edit_path, class:"btn btn-sm btn-success" %>
  </tr>
</head>
<table class="table table-bordered col-md-8">
  <tbody>
   <tr> 
     <th scope="row">名前</th>
       <td><%= @user.name %></td>
   </tr> 
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    
  </tbody>    
</table>