<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>投稿内容</h2>
        <table class="table">
          <tbody>
              <h2><%= @movieinfo["table"]["title"] %></h2>
              <h2><%= @user.name %></h2>
              <td><%= @review_contents %></td>
          </tbody>
        </table>
    </div>
  </div>
</div>