<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>投稿内容</h2>
        <table class="table">
          <tbody>
              <h2><%= @review.movie.title %></h2>
              <h2><%= @review.user.name %></h2>
              <td><%= @review.review_contents %></td>
              <td><%= link_to "Destroy", admin_path,method: :delete, "data-confirm" =>"本当に消しますか?", class:"btn btn-sm btn-danger" %></td>
          </tbody>
        </table>
    </div>
  </div>
</div>